@import url(http://fonts.googleapis.com/css?family=Roboto:700,900,500);

html body {
    background-color: black;
    color: #fcfcfc;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
.weather-container{
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

nav {
  text-align: center;
  padding: 20px 0;
}

.app-title{
  font-size: 10vw;
  text-align: center;
  color: #fcfcfc;
}

.weather-search-box {
    border: 2px solid white;
    border-radius: 18px;
    font-size: 5vw;
    text-align: center;
    margin: 0 auto;
}

.add-button {
    background-color: #ef476f;
    border: 2px solid #ef476f;
    border-radius: 18px;
    font-size: 3vw;
    width: 35%;
    color: white;
    margin-left: 7px;

}

.forecast-city{
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  color: #fcfcfc;
}

.weather-card {
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    width: 90%;
    /*height: 270px;*/
    background-color: #fcfcfc;
    color: black;
    text-align: center;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.weather-dayWeek {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    color: #26547c;
}

.weather-date {
  font-size: 1.5em;
  font-weight: 100;
  color: #26547c;
}

.temp-box {
  display:inline-block;
  margin: 18px;
  align-items: center;
  font-size: 1.75em;
  width: 35%;
  color: #26547c;
}
.degree-symbol{
  color: #ef476f;
}
.fa {
    color: #9BD1FA;
}

.weather-card:nth-child(1){

}


}
@media all and (max-width: 1920px) and (min-width: 1280px){
  .weather-card{
    width: 60%;
  }
  .temp-box {
    margin: 20px;
    font-size: 3.75em;
  }
}
