@import url(http://fonts.googleapis.com/css?family=Roboto:700,900,500);
html body{
  background: #63A68E;
  color: #ffffff;
  height: 100%;
  padding: 0;
  margin: 0;
}

.forecast{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  display:inline;
}
