<nav>
    <h1 class="app-title"> KempKast </h1>
</nav>
<div class="weather-containter">
  <nav>
    <form>
    <input class="weather-search-box" type="text" ng-model="city" placeholder="Enter city or zip" />
    <br/><br/>
    <input type="submit" class="add-button" ng-click="getWeather(city)" value="Get Forecast" />
    </form>
  </nav>

    <p class="forecast-city">{{cityWeather.city.name}}</p>
    <ul ng-repeat="(day, value) in weatherWeek">
        <div class = "weather-card">
          <ul>
            <li class="weather-dayWeek">{{value.dt*1000 | date:'EEEE'}}</li>
            <li class="weather-date">{{value.dt*1000 | date:'shortDate'}}</li>
            <div class = "temp-box">
              <li class="temp-hi"> <i class="fa fa-arrow-up" aria-hidden="true"></i> {{roundTemp(value.temp.max)}}<span class="degree-symbol">&deg;</span></li>
            </div>
            <div class="temp-box">
              <li class="temp-lo">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> {{roundTemp(value.temp.min)}}<span class="degree-symbol">&deg;</span></li>
            </div>
          </ul>
      </div>
    </ul>
</div>
