<nav>
    <h1 class="app-title"> KempKast </h1>
</nav>
<div class="weather-containter">
  <nav>
    <input class="weather-search-box" type="text" ng-model="searchTerm" placeholder="What city are you in?" /><br /><br />
      <button class="add-button" ng-click="getWeather(searchTerm, key)">5-Day KempKast</button>
    </nav>
    <p class="forecast-city"> {{searchTerm}}</p>
    <ul ng-repeat="forecast in weatherData.slice(0,5)">
        <div class = "weather-card">
        <ul class="weather-dayWeek">{{convertWeatherTime(forecast.time) | date:'EEEE'}}</ul>
        <skycon icon="forecast.icon" size="100"></skycon>
        <ul class="weather-date">{{convertWeatherTime(forecast.time) | date:'shortDate'}}</ul>
        <div class = "temp-box">
        <ul class="temp-hi"> <i class="fa fa-arrow-up" aria-hidden="true"></i>{{roundTemp(forecast.apparentTemperatureMax)}}&deg;</ul>
      </div>
      <div class="temp-box">
        <ul class="temp-lo">
          <i class="fa fa-arrow-down" aria-hidden="true"></i> {{roundTemp(forecast.apparentTemperatureMin)}}&deg;</ul>
      </div>
      </div>
    </ul>
</div>
